{% extends 'base.html' %}
{% block content %}
{% load static %}
<form method="post">
	{% csrf_token %}
	<fieldset>
		<a href="{% url 'adddepartment' %}"><h1 class="tablink" onclick="openPage('add')" id="add_to_edit">Add Department</h1></a>
		<a href="{% url 'editdepartment' %}"><h1 class="tablink" onclick="openPage('edit')" id="link_to_edit">Edit Department</h1></a>
		<div class="tabcontent" id="new">
			{{ form.as_p }}
		<input type="submit" value="Submit" class="submit">
		</div>
	</fieldset>
</form>
<div class="img">

</div>

{% endblock %}
