
{% extends 'base.html' %}
{% block content %}
{% load static %}
<form method="post">
	{% csrf_token %}
	<fieldset>
		<a href="{% url 'addinstructor' %}"><h1 class="tablink" onclick="openPage('add')" id="link_to_add">Add Instructor</h1></a>
		<a href="{% url 'editinstructor' %}"><h1 class="tablink" onclick="openPage('edit')" id="link_to_edit">Edit Instructor</h1></a>
		<div class="tabcontent" id="new">
			{{ form.as_p }}
		<input type="submit" value="Submit" class="submit">
		</div>
	</fieldset>
</form>
<div class="img">
	<img src="{% static 'img/teacher.png' %}">
</div>
{% endblock %}